.chords {
	width : 99% !important;
	height : 88% !important;
	border : 1px solid #dedede !important;
	margin : 0 2px !important;
	overflow-scroll : true;	
	padding : 10px !important;
}

.fRight {
	float : right;
}
.chords_used {
	color: green;
}
.pLeft10 {
	padding-left : 10px;
}
